
.background-form {
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.shadow-form {
  margin-top: 20px;
  padding: 10px;
  opacity: 80%;
  filter: invert(1);
  text-align: center;
}

.shadow-map {
  margin-top: 20px;
  padding: 10px;
  opacity: 80%;
  text-align: center;
  height: 80%;
}

.shadow-map-home {
  height: 100%;
}

.home-page{
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.article-page{
  margin-top: 10px !important;
  margin-left: 100px !important;
  margin-right: 100px !important;
}

.don-clima{
  padding: 40px;
}

.circulo {
  margin-top: 20px;
  padding: 50px;
  width: 180px;
  height: 180px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #858F23;
}

.circulo-azul {
  margin-top: 30px;
  padding: 50px;
  width: 180px;
  height: 180px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #E68807;
}

.menu-page{
  background-color: #858F23;
}

.card-ideam{
  background-color: #E68807 !important;
}

.card-heladas{
  background-color: #41D5E9 !important;
}

.card-tips{
  background-color: #FAC708 !important;
}

.card-impactos{
  padding: 10px;
}

.button-green{
  background-color: #858F23 !important;
  border-color: #858F23 !important;
}

.button-green-outline{
  border-color: #858F23 !important;
  color: #858F23 !important;
}

.button-blue{
  background-color: #41D5E9 !important;
  border-color: #41D5E9 !important;
}

.button-blue-outline{
  border-color: #41D5E9 !important;
  color: #41D5E9 !important;
}

.button-yellow{
  background-color: #FAC708 !important;
  border-color: #FAC708 !important;
}

.button-yellow-outline{
  border-color: #FAC708 !important;
  color: #FAC708 !important;
}

.forms {
  opacity: 100%;
  text-align: justify;
}

.menu {
  margin: 10px;
}

.logo-menu{
  width: 50px;
  margin-right: 15px;
}

.logo-title{
  z-index: 999;
  position: absolute;
  width: 100%;
  padding-top: 60px;
  padding-left: 200px;
  padding-right: 200px;
}

.logo-signup{
  width: 100%;
  margin-top: 0px;
  filter: invert(1);
}

.logo-login{
  width: 100%;
  margin-top: 0px;
  filter: invert(1);
  padding-left: 40%;
  padding-right: 40%;
}

.logo-don{
  width: 100%;
  margin-top: 10%;
  padding-left: 20%;
  padding-right: 10%;
}

.card {
  max-width: 18rem;
  margin: 20px;
}

.btn-form {
  text-align: center;
  filter: invert(1);
}

.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #aaaaaa;
}

.footer-icon {
  text-transform: none;
  list-style: none;
  color: white;
  padding: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.leaflet-container {
  height: 100%;
  width: 100%;
  position: relative;
}

#mapSearchContainer {
  position: fixed;
  top: 20px;
  right: 40px;
  height: 30px;
  width: 180px;
  z-index: 110;
  font-size: 10pt;
  color: #5d5d5d;
  border: solid 1px #bbb;
  background-color: #f8f8f8;
}

.pointer {
  position: absolute;
  top: 86px;
  left: 60px;
  z-index: 99999;
}

.geocoder-control-input {
  background-image: url("https://raw.githubusercontent.com/Esri/esri-leaflet-geocoder/master/src/img/search.png");

}

.ir-arriba { 
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #858F23;

	display:none;
  padding: 0px;
	font-size:40px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
  right:20px;
  z-index: 1000;
  opacity: 60%;
  text-align: center;
}


@media only screen and (max-width: 700px) {

  #rt-main, #rt-header, .rt-container, .rt-container .rt-grid-8, .rt-container .rt-grid-8,.rt-container .rt-grid-9, .footer-container, .rt-container .rt-grid-3, .rt-container .rt-grid-6 {width: 99%;}
  
   body{min-width: 100%;}

   h1{text-align: center;}
  
   .rt-container .rt-grid-4 {
     display: none;
    }

   .home-page{
      margin-left: 30px !important;
      margin-right: 30px !important;
      justify-content: center;
    }
    .article-page{
      margin-left: 30px !important;
      margin-right: 30px !important;
    }
    .card {
      margin: auto;
    }

    .card-title {
      text-align: center;
    }

    .card-text {
      text-align: justify;
      font-size: 14px;
    }

    .shadow-map-home,.shadow-map {
      height: 300px;
      margin-bottom: 5px !important;
    }

    .logo-signup {
      padding-left: 120px;
      padding-right: 120px;
    }

    .logo-title{
      padding-top: 15px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .circulo,.circulo-azul {
      margin-top: 18px;
      padding: 15px;
      width: 100px;
      height: 100px;
    }

    .ir-arriba { 
      right: 44%;
    }

    .btn{
      margin: 0px;
      margin-right: 10px;
    }

  
  }