
.background-form {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ea/Nevada-Apartadero-Merida-Venezuela.jpg");
  background-size: cover;
  padding: 0px;
  margin: 0px;
}

.shadow-form {
  margin: 20px;
  padding: 10px;
  opacity: 80%;
  filter: invert(1);
  text-align: center;
}

.forms {
  opacity: 100%;
  text-align: justify;
}

.menu {
  margin: 10px;
}

.card {
  max-width: 18rem;
  margin: 20px;
}

.btn-form {
  text-align: center;
  filter: invert(1);
}

.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: #aaaaaa;
}

.footer-icon {
  text-transform: none;
  list-style: none;
  color: white;
  padding: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
